
 <%- include("./partials/header")  %> 

<style>
    table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 20px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
</style>

<h1>Customer Order</h1>

<table>
    <tr>
        <th>Customer Name</th>
        <th>Order ID</th>
        <th>Food Order</th>
        <th>Status</th>
        <th>Action</th>
    </tr>


     <% notiOrders.forEach(order => { %>
      <tr>
        <td><%= order._id %></td>
        <td><%= order.store.name %> </td>
        <td>
            <% var i = 1; %> 
            <% order.items.forEach(item => { %>
                <p><%= i %>. <%= item.name %></p>
                <% i++ %> 
            <% }) %>
        </td>
        <td>
            <% if (order.isConfirmed === true) { %>
                <p>Order accepted</p> 
            <% } else if (order.isCancelled === true) { %>
                <p>Order is cancelled</p>
            <% }%>
        </td>
      </tr>
    <% }) %> 

    
</table>

<%- include("./partials/footer")  %> 